
        // 头部背景色
        $background-color-theme: #0af;
        $background-color-login: #56d176;
        $background-color-order: rgb(245, 245, 245);
        

        $color-text-theme: #666;
        $color-text-title: #fff;