

        @mixin I {
            i {
                font-style: normal;
            }
        }

        @mixin Center {
            display: flex;
            flex-direction: column;  
            text-align: center;
            justify-content: space-between;
        }