*.png
Online-Translate/src/assets/logo.png
*.svg
Fashion-Music/src/base/song-list/rankfont/iconfont.eot
Fashion-Music/src/base/song-list/rankfont/iconfont.js
Fashion-Music/src/base/song-list/rankfont/iconfont.ttf
Fashion-Music/src/base/song-list/rankfont/iconfont.css
Fashion-Music/src/base/song-list/rankfont/iconfont.woff
