

        $transform-all: all 0.1s;

        $padding-top-list-item: 16px;
        $padding-left-list-item: 1.2rem;

        $font-size-s: 8px;
        $font-size-n: 12px;
        $font-size-b: 16px;
        $font-size-x: 20px;
        $font-size-X: 24px;

        $font-weight-s: 300;
        $font-weight-b: 700;

        $height-small-ss: 12px;
        $height-small-s: 16px;
        $height-small: 24px;
        $height-big: 30px;
        $height-big-x: 42px;
        $height-big-xx: 50px;

        $background-color-theme: #5a5aad;
        $background-color-list: #f6f2ec;
        $background-color-player: #afafaf;
        $background-color-title: rgba(233, 233, 233, 0.3);
        $background-color-title-dark: rgba(233, 233, 233, 0.7);
        $background-color-compare: #ffffff;
        $background-color-light: #e3e3e3;
        $background-color-fuceng: rgba(139, 139, 139, 0.6);
        $background-color-warning: #ffffff;


        $color-text-title: #a3a3a3;
        $color-text-title-dark: #ffff33;
        $color-text-name: #00a4a4;
        $color-text-desc: #ce7cd1;
        $color-text-medium: rgba(7, 17, 27, 0.4);
        $color-text-confirm: #d2d2d2;

        $color-text-active: #F90;

