

        @mixin TextFlow {
            overflow: hidden;
            white-space: nowrap;
            text-overflow:ellipsis; 
        }

        @mixin listLine {
            margin-bottom: .5rem;
            padding-bottom: .5rem;
            border-bottom: 1px solid rgba(19, 255, 58, 0.685);
            .list-top {
                display: flex;
                padding: 0 .75rem;
                .list-top-title {
                    flex: 1;
                    font: {
                        size: $font-size-f;
                        weight: $font-weight-m;
                    }
                }
                .list-top-more {
                    color: $color-theme;
                }
                a {
                    text-decoration: none;
                }
            }
        }