
        // 样式

        // 字体大小
        $font-size-m: 10px;
        $font-size-s: 13px;
        $font-size-f: 16px;
        $font-size-b: 18px;
        $font-size-x: 21px;
        $font-size-X: 24px;

        // 字体粗细
        $font-weight-m: 300;
        $font-weight-s: 400;
        $font-weight-b: 600;
        $font-weight-x: 700;

   
        // 颜色
        $color-active: #ff952b;
        $color-theme: #42bd56;
        $color-movie: #2384E8;
        $color-main-text: #494949;
        $background-color-text: #f6f6f6; 
        $color-movie-text: #aaa;
